<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %marker - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender">
    </appender>

    <logger name="org.seasar.doma" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LIST" />
    </root>
</configuration>
