alabaster==0.7.12
argh==0.26.2
Babel==2.9.1
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
idna==2.8
imagesize==1.1.0
Jinja2==2.11.3
livereload==2.6.0
MarkupSafe==1.1.0
packaging==18.0
pathtools==0.1.2
port-for==0.3.1
Pygments==2.15.0
pyparsing==2.3.0
pytz==2018.7
PyYAML==3.13
requests==2.21.0
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
tornado==5.1.1
urllib3==1.24.2
watchdog==0.9.0
