name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

env:
  JDK_DISTRIBUTION: zulu
  JDK_VERSION_OLDEST: 17
  JDK_VERSION_LATEST: 25
  JDK_VERSION_LATEST_LTS: 25

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: ${{ env.JDK_DISTRIBUTION }}
          java-version: |
            ${{ env.JDK_VERSION_OLDEST }}
            ${{ env.JDK_VERSION_LATEST }}
            ${{ env.JDK_VERSION_LATEST_LTS }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Assemble and Check
        run: >
          ./gradlew
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ env.JDK_VERSION_OLDEST }}_X64,JAVA_HOME_${{ env.JDK_VERSION_LATEST }}_X64
          --no-configuration-cache
          assemble check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: build
          path: |
            ./**/build/reports
            /home/runner/work/doma/doma/.gradle

  integration-test:
    name: Integration Test (${{ matrix.driver }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        driver: [h2, mysql, mysql8, postgresql, sqlite, sqlserver, oracle]
    timeout-minutes: 15

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: ${{ env.JDK_DISTRIBUTION }}
          java-version: |
            ${{ env.JDK_VERSION_OLDEST }}
            ${{ env.JDK_VERSION_LATEST }}
            ${{ env.JDK_VERSION_LATEST_LTS }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Test with the oldest JDK (Java, Kotlin)
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ env.JDK_VERSION_OLDEST }}
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ env.JDK_VERSION_OLDEST }}_X64,JAVA_HOME_${{ env.JDK_VERSION_LATEST }}_X64
          integration-test-java:test
          integration-test-kotlin:test

      - name: Test with the latest JDK (Java)
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ env.JDK_VERSION_LATEST }}
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ env.JDK_VERSION_OLDEST }}_X64,JAVA_HOME_${{ env.JDK_VERSION_LATEST }}_X64
          integration-test-java:test

      - name: Test with the latest LTS JDK (Java)
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ env.JDK_VERSION_LATEST_LTS }}
          integration-test-java:test

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: test-${{ matrix.driver }}
          path: |
            ./**/build/reports
            /home/runner/work/doma/doma/.gradle

  ecj:
    name: Test with ECJ
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: ${{ env.JDK_DISTRIBUTION }}
          java-version: |
            ${{ env.JDK_VERSION_OLDEST }}
            ${{ env.JDK_VERSION_LATEST }}
            ${{ env.JDK_VERSION_LATEST_LTS }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Test with ECJ
        run: >
          ./gradlew
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ env.JDK_VERSION_OLDEST }}_X64,JAVA_HOME_${{ env.JDK_VERSION_LATEST }}_X64
          -Pcompiler=ecj
          :doma-processor:test
          :integration-test-java:test

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ecj
          path: |
            ./**/build/reports
            /home/runner/work/doma/doma/.gradle

  publish:
    if: github.event_name == 'push'
    name: Publish
    runs-on: ubuntu-latest
    needs: [ build, integration-test, ecj ]
    timeout-minutes: 30

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          distribution: ${{ env.JDK_DISTRIBUTION }}
          java-version: |
            ${{ env.JDK_VERSION_OLDEST }}
            ${{ env.JDK_VERSION_LATEST }}
            ${{ env.JDK_VERSION_LATEST_LTS }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Publish packages
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.OSSRH_PASSWORD }}
        run: >
          ./gradlew
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ env.JDK_VERSION_OLDEST }}_X64,JAVA_HOME_${{ env.JDK_VERSION_LATEST }}_X64
          -Porg.gradle.parallel=false
          --no-configuration-cache
          publishToSonatype closeAndReleaseSonatypeStagingRepository

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: publish
          path: |
            ./**/build/reports
            /home/runner/work/doma/doma/.gradle

