name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@v3
        with:
          distribution: ${{ vars.JDK_DISTRIBUTION }}
          java-version: |
            ${{ vars.OLDEST_JDK_VERSION }}
            ${{ vars.LATEST_JDK_VERSION }}
            ${{ vars.LATEST_LTS_JDK_VERSION }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: Assemble and Check
        run: >
          ./gradlew
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ vars.OLDEST_JDK_VERSION }}_X64,JAVA_HOME_${{ vars.LATEST_JDK_VERSION }}_X64
          assemble check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: build
          path: ./**/build/reports

  test:
    name: Test (${{ matrix.driver }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        driver: [h2, mysql, postgresql, sqlserver, oracle]
    timeout-minutes: 15

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@v3
        with:
          distribution: ${{ vars.JDK_DISTRIBUTION }}
          java-version: |
            ${{ vars.OLDEST_JDK_VERSION }}
            ${{ vars.LATEST_JDK_VERSION }}
            ${{ vars.LATEST_LTS_JDK_VERSION }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: Test with the oldest JDK
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ vars.OLDEST_JDK_VERSION }}
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ vars.OLDEST_JDK_VERSION }}_X64,JAVA_HOME_${{ vars.LATEST_JDK_VERSION }}_X64
          integration-test-java:test
          integration-test-kotlin:test

      - name: Test with the latest JDK using JPMS
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ vars.LATEST_JDK_VERSION }}
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ vars.OLDEST_JDK_VERSION }}_X64,JAVA_HOME_${{ vars.LATEST_JDK_VERSION }}_X64
          -PtestUseModule=true
          integration-test-java:test
          integration-test-java-additional:test

      - name: Test with the latest LTS JDK using JPMS
        run: >
          ./gradlew
          -Pdriver=${{ matrix.driver }}
          -PtestJavaLangVersion=${{ vars.LATEST_LTS_JDK_VERSION }}
          -PtestUseModule=true
          integration-test-java:test
          integration-test-java-additional:test

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: test-${{ matrix.driver }}
          path: ./**/build/reports

  publish:
    if: github.event_name == 'push'
    name: Publish
    runs-on: ubuntu-latest
    needs: [ build, test ]
    timeout-minutes: 30

    steps:
      - name: Set up JDKs
        uses: actions/setup-java@v3
        with:
          distribution: ${{ vars.JDK_DISTRIBUTION }}
          java-version: |
            ${{ vars.OLDEST_JDK_VERSION }}
            ${{ vars.LATEST_JDK_VERSION }}
            ${{ vars.LATEST_LTS_JDK_VERSION }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: Publish packages
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.OSSRH_PASSWORD }}
        run: >
          ./gradlew
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ vars.OLDEST_JDK_VERSION }}_X64,JAVA_HOME_${{ vars.LATEST_JDK_VERSION }}_X64
          publishToSonatype closeAndReleaseSonatypeStagingRepository

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: publish
          path: ./**/build/reports
