name: Java CI with Gradle

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 8

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache Gradle wrapper
        uses: actions/cache@v2
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts', '**/gradle.properties') }}

      - name: Build with Gradle
        run: ./gradlew assemble check

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: reports
          path: |
            doma-core/build/reports
            doma-processor/build/reports
            test-criteria/build/reports

      - name: Install packages
        run: ./gradlew publishToMavenLocal
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}

      - name: Publish packages
        if: github.event_name == 'push'
        run: ./gradlew publish
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.OSSRH_USERNAME }}
          ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.OSSRH_PASSWORD }}

      - name: Tar Maven Repository
        shell: bash
        run: tar -czf maven-repository.tgz -C ~ .m2/repository

      - name: Persist Maven Repository
        uses: actions/upload-artifact@v1
        with:
          name: maven-repository
          path: maven-repository.tgz

  integration-test:
    if: contains(github.event.head_commit.message, '[skip ci]') == false
    name: JDK ${{ matrix.java }}
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        java: [ 8, 11, 14 ]

    services:
      postgres:
        image: postgres:10.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: doma_it
        ports:
          - 127.0.0.1:5432:5432
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: doma_it
        ports:
          - 3306

    steps:
      - name: Start the MySQL service
        run: |
          sudo /etc/init.d/mysql start
          mysql -uroot -h127.0.0.1 -proot -e 'create database doma_it;'

      - name: Download Maven Repository
        uses: actions/download-artifact@v1
        with:
          name: maven-repository
          path: .

      - name: Extract Maven Repository
        shell: bash
        run: tar -xzf maven-repository.tgz -C ~

      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: domaframework/doma-it

      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Cache Gradle wrapper
        uses: actions/cache@v2
        with:
          path: ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/gradle-wrapper.properties') }}

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts', '**/gradle.properties') }}

      - name: Build with Gradle
        run: ./gradlew assemble

      - name: Test with h2
        run: ./gradlew check -s
        env:
          ORG_GRADLE_PROJECT_jdbcUrl: ''
          ORG_GRADLE_PROJECT_jdbcUser: ''
          ORG_GRADLE_PROJECT_jdbcPassword: ''

      - name: Test with postgres
        run: ./gradlew check -s
        env:
          ORG_GRADLE_PROJECT_jdbcUrl: jdbc:postgresql://127.0.0.1/doma_it
          ORG_GRADLE_PROJECT_jdbcUser: postgres
          ORG_GRADLE_PROJECT_jdbcPassword: postgres

      - name: Test with mysql
        run: ./gradlew check -s
        env:
          ORG_GRADLE_PROJECT_jdbcUrl: jdbc:mysql://127.0.0.1/doma_it
          ORG_GRADLE_PROJECT_jdbcUser: root
          ORG_GRADLE_PROJECT_jdbcPassword: root

      - name: Upload reports
        if: failure()
        uses: actions/upload-artifact@v1
        with:
          name: jdk${{ matrix.java }}
          path: build/reports
